<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="HRM test suite">
 <test name="Pending Leave Request test case">
  <classes>
   <class name="testCases.TestPending_Leave_Request"></class>
  </classes>
 </test>

 <test name="Check User Role test case">
  <classes>
   <class name="testCases.TestUser_Role"></class>
  </classes>
 </test>
</suite>